header h2 {
    text-align: center;
    text-decoration: underline;
    font-size: medium;
}
header p {
    text-align: center;
}
.A {
    font-size: 8px;
}
.B {
    margin: 10px;
}
.C{
    font-size: 10px;
    width: 200px
}
.D{
   width: 300px;
}
.E{
    width: 300px;
}
.F{
    margin-left: 200px;
}