header h2{
    text-align: center;
}
header p{
    text-align: center;
    text-decoration: underline;
}
table{
    text-align: center;
    border-collapse: collapse;
    margin-left: 250px;
}
td ,th{
    text-align: center;
    border:1px solid blue;
    padding: 10px 20px
}
caption {
    text-decoration: underline;
}
